/*--------------------------------------------------------------
BASE WEB
--------------------------------------------------------------*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Main layout styles               
2.0 HEADER styles                            
3.0 REGISTER ET LOGIN styles                       
4.0 Dashboard styles
    - Menu principale
    - Premier niveau sub-menu 
    - Deuxième niveau sub-menu           
5.0 MAIN styles
    - Bandeau publicitaire animé
    - Caroussel banière
    - Section champion 
    - Section statistique
    - Section page champion
6.0 BOUTIQUE styles
    - Bouton fenêtre modal styles
7.0 BLOG styles                       
8.0 FOOTER                         
9.0 RESPONSIVE styles                     


/*========================================================
                    Main layout styles
=========================================================*/

html {
    height: 100%;
}

body {
    background: #0f1113;
    color: #ffffff;
    font: 400 14px/23px Arial, "Times New Roman", sans-serif;
}
 
a {
    font: inherit;
    color: inherit;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a:hover {
    text-decoration: none;
}

a:active {
    background: inherit;
}
  
img {
    max-width: 100%;
    height: auto;
}
  
.container {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
}

/*============  Wrappers  =============*/
.wrap_1 {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 15px;
  }

.wrap_1:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 11px;
    background: #9dc02e;
    border-bottom: 4px solid #63842d;
}


/*========================================================
                    HEADER styles
=========================================================*/


#header {
    background-image: url(../img/baniere.jpg);
}

.logo {
    margin: 19px 0 66px;
    text-align: center;
    color: #63842d;
}
.logo h1 {
    margin-top: 30px;
    position: relative;
    color: #ffffff;
    text-align: left;
    overflow: hidden;
}
.logo h1 a {
    display: block;
    position: relative;
    padding-left: 110px;
    text-transform: capitalize;
    font: 300 50px/50px 'Open Sans', sans-serif;
}
.logo h1 a .fa {
    position: absolute;
    display: block;
    width: 87px;
    height: 83px;
    top: 8px;
    left: 0;
    font-size: 147px;
    line-height: 94px;
    margin-right: 5px;
    color: #ffffff;
    background: #9dc02e;
    font: 400 50px/81px 'FontAwesome';
    text-align: center;
    border-radius: 500px;
    -webkit-box-shadow: 0 4px 0 0 #63842d;
    box-shadow: 0 4px 0 0 #63842d;
}
   
.wrap {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: transform 1000ms ease-in-out;
    transition: transform 1000ms ease-in-out;
}

.fa-biohazard::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    /* content: "\780"; */
}
.user-link span {
    cursor: pointer;  
}
  .user-link li {
    list-style: none;
    float: right;
    margin: 20px 0px
  }

  .edit-profil {
      font-size: 11px;
      padding-right: 15px;
  }

  .edit-profil a {
   color: #9dc02e;
 }

.edit-profil a:hover {
    color: rgb(69, 117, 20);
 }

  .fa-th-list,
  .fa-user-cog {
      margin-right: 5px;
      color: #fff;
  }

  .fa-user, .fa-sign-in-alt {
    display: inline-block;
    width: 28px;
    padding: 2px;
    margin-right: 5px;
    border-radius: 8px;
    background: #9dc02e;
    border-bottom: 4px solid #63842d;
    font-size: 15px;
    line-height: 41px;
    text-align: center;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
 .fa-user:hover,.fa-sign-in-alt:hover  {
    color: #31353d;
    background: #fff;
    border-bottom-color: #c8c8c8;
  }
  #search {
    /* padding-top: 25px; */
    height: 47px;
    align-self: flex-end;
  }
  #search .input_wrap {
    display: inline-block;
    float: left;
    width: 207px;
    height: 100%;
    padding: 0 10px;
    color: #ffffff;
    background: #202227;
  }
  #search .input_wrap input {
    display: block;
    width: 100%;
    padding: 14px 0 13px;
    line-height: 20px;
    letter-spacing: 0;
    font: 600 14px 'Open Sans', sans-serif;
    color: #ffffff;
    outline: none;
    background-color: transparent;
    border: none;
    overflow: hidden;
    margin: 0;
  }
  #search .fa-search {
    display: inline-block;
    float: left;
    width: 47px;
    height: 100%;
    background: #9dc02e;
    border-bottom: 4px solid #63842d;
    font-size: 25px;
    line-height: 41px;
    text-align: center;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  #search .fa-search:hover {
    color: #31353d;
    background: #fff;
    border-bottom-color: #c8c8c8;
  }

/*========================================================
                REGISTER ET LOGIN styles
=========================================================*/

.user-flex  {
    display: flex;
}

.user-link-flex {
    display: flex;
    flex-direction: column;   
}

.user-content  {
    width: 50%;
    padding: 1%;
}

.user-content h2 {
    background: #31353d;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    padding: 10px 15px;
    margin-top: 50px;
    margin-bottom: 0;
    border-radius: 3px;
    letter-spacing: 1px;
}

.user-content table {
    width: 100%;
    background-color: #fff;
    color: #000;
    font-weight: bold;
}

.user-content table td {
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding: 10px 8px;
}

.user-content table td:first-child {
    font-size: 11px;
    text-align: right;
    background: #f6f6f6;
    width: 160px;
    text-transform: uppercase;
}

.user-content table td.td-buttom {
    background: #ffffff;
    text-align: center;
}

.user-content input {
    width: 100%;
    border: 1px solid #ebebeb;
    padding: 8px 0;
}

.user-ajust-buttom {
        
    padding: 13px;
    border-radius: 25px;
    border: none;
    background-color: #31353d;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.user-ajust-buttom:hover  {
    background: #51555c;
  }

.user-content i {
    padding-left: 7px;
  }

.psw {
    padding-top: 2%;
}

.error-php {
  background-color: rgb(236, 179, 179);;
  color: #f50c0cbd;
  font-weight: bold;
}

.succes-php {
    background-color: rgb(188, 230, 180);;
    color: #3b4e1b;
    font-weight: bold; 
  }

/*========================================================
                    Dashboard styles
=========================================================*/

.content h2 {
    background: #31353d;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    padding: 10px 15px;
    margin-top: 50px;
    margin-bottom: 0;
    border-radius: 3px;
    letter-spacing: 1px;
}

.content table {
    width: 100%;
    background-color: #fff;
    color: #000;
    font-weight: bold;
}

.content table td {
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding: 10px 8px;
}

.content table td:first-child {
    font-size: 11px;
    text-align: right;
    background: #f6f6f6;
    width: 160px;
    text-transform: uppercase;
}

.content table td.td-buttom {
    background: #ffffff;
    text-align: center;
}

.content input,
.content textarea {
    width: 100%;
    border: 1px solid #ebebeb;
    padding: 8px 0;
}

.ajust-buttom {
        
    padding: 13px;
    border-radius: 25px;
    border: none;
    background-color: #31353d;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.ajust-buttom:hover  {
    background: #51555c;
  }

.content i {
    padding-left: 7px;
  }

  /* Menu principale
========================================================*/
.fa-home::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    /* content: "\f015"; */
  }

.menu {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding-inline-start: 0;
  }

  .select-menu {
    display: none !important; 
}
  .menu > li {
    display: table-cell;
    position: relative;
    background: #31353d;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font: 600 14px/88px 'Open Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
  }
  .menu > li:first-child {
    width: 89px;
    font: normal 44px/88px 'FontAwesome';
    vertical-align: top;
  }
  .menu > li:first-child a {
    color: #31353d;
    background: #ffffff!important;
    border-bottom-color: #c8c8c8!important;
  }
  .menu > li > a {
    border-bottom: 4px solid #151619;
    height: 88px;
  }
  .menu > li > a:hover {
    border-bottom: 4px solid #9dc02e;   
  }
  .menu > li + li {
    border-left: 1px solid #1e2026;
  }
  .menu > li + li > a {
    border-left: 1px solid #353942;
  }
  .menu li {
    color: #fff;
  }
  .menu li a {
    display: block;
    height: 100% px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .menu li.sfHover {
    background: #2d3138;
  }
  .menu li.current > a {
    background: #2d3138;
  }
  .menu li > a:hover {
    color: #9dc02e;
  }
  .menu ul {
    position: absolute;
    display: none;
    width: 100%;
    padding: 33px 0 32px;
    font: 600 14px/16px 'Open Sans', sans-serif;
    z-index: 2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .menu ul li {
    position: relative;
  }
  .menu ul a {
    padding: 6px 10px 6px;
  }

  .animate-bottom {
      overflow: hidden;
  }

  .flash {
      position: absolute;
      opacity: 0;
      border-radius: 50%;
      width: 2px;
      height: 2px;
      background-color: rgba(255,255,255,.35);
      -webkit-animation: flashEffect 1s;
      animation: flashEffect 1s;
  }

@-webkit-keyframes  flashEffect {

    0% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(220);
    }

}

@keyframes  flashEffect {

    0% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(220);
    }
}

  /* Premier niveau sub-menu 
========================================================*/
.sub-menu > a::after {
    content: "+";
    display: inline-block;
    font-size: 1.1rem;
    width: 1em;
    height: 1em;
    line-height: 1.1em;
    border-radius: 1em;
    margin-left: 0.4em;
    font-weight: bold;
    vertical-align: middle;
    background-color: #222;
    color: #fff;
    text-align: center;
}
.sub-menu ul {
    display: none; 
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background: #31353d;
}
.sub-menu:hover > ul {
    display: block;    
}
.sub-menu:hover > ul > li {
    list-style: none;  
}
.sub-menu > ul > li > a:hover {
    background: #fff;
    color: #31353d;    
}

  /* Deuxième niveau sub-menu 
========================================================*/

.sub-menu-1 ul {
    display: none; 
    position: absolute;
    width: 100%;
    top: 0;
    left: 180px;
    margin-left: 15px;
    background: #9dc02e;
}
.sub-menu-1:hover > ul {
    display: block;    
}
.sub-menu-1:hover > ul > li {
    list-style: none;  
}
.sub-menu-1 > ul > li > a:hover {
    background: #31353d;
    color: #fff;    
}
.menu > li > ul > li > ul:before {
    content: '';
    position: absolute;
    right: 100%;
    top: 12px;
    margin-right: -1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 7px 6px 0;
    border-color: transparent #9dc02e transparent transparent;
  }
  
  /*========================================================
                    MAIN styles
=========================================================*/

  /* bandeau publicitaire animé 
========================================================*/

/********** ACTE-1 ************/

#baniere {
  width: 1024px;
  max-width: 100%;
  height: auto;
  margin: 2em auto 0;
}



.vortex {
  position: absolute;
  right: 0;
  left: 0;
  width: 20%;
  top: 23%;
  margin: auto;
}

.epe {
  position: absolute;
  width: 29%;
  left:25%;
  top: 18%;  
  -webkit-transform: rotate(80deg); 
  transform: rotate(80deg);
  margin: auto;
}

.hache{
  position: absolute;
  width: 17%;
  left: 51.7%;
  top: 9%;
  -webkit-transform: rotate(-15deg); 
  transform: rotate(-15deg);
  margin: auto;
}

.baniere h2{
  position: absolute;
  width: 100%;
  top: -3%;
  font-size: 2vw;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
}

.baniere h3{
  position: absolute;
  width: 100%;
  top: 75%;
  line-height: 1vw;
  font-size: 1.2vw;
  letter-spacing: 5px;
  text-transform: uppercase;  
  text-align: center;
}

.baniere, .acte-1:hover h2 {
  -webkit-animation: slideItem 4s infinite;
  animation: slideItem 4s infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.acte-1:hover .vortex, .acte-3:hover .vortex-1, .acte-1:hover h3 {
  -webkit-animation: zoomItem 5s;
  animation: zoomItem 5s;
}

@-webkit-keyframes  slideItem {
  
  from {left: -25%;}
  to {left: 25%;}
}

@keyframes  slideItem {
  
  from {left: -25%;}
  to {left: 25%;}
}

@-webkit-keyframes  zoomItem {

  100% {
    -webkit-transform: scale(1);
  }
  
  0% {
    -webkit-transform: scale(0);
  }  
}

@keyframes  zoomItem {

  100% {
    transform: scale(1);
  }
  
  0% {
    transform: scale(0);
  }  
}

/********** ACTE-2 ************/

.acte-2 {
  position: relative;
}

.personnage-1 {
  position: absolute;
  z-index: 1;
  width: 15%;
  left:17%;
  top: 40%;   
  margin: auto;
}

.personnage-2 {
  position: absolute;
  z-index: 1;
  width: 15%;
  left:68%;
  top: 34%;   
  margin: auto;
}

.epe-1 {
  position: absolute;
  width: 20%;
  left:17%;
  top: 27%;  
  -webkit-transform: rotate(35deg); 
  transform: rotate(35deg);
  margin: auto;
}

.hache-1 {
  position: absolute;
  width: 10%;
  left: 65.8%;
  top: 33%;
  -webkit-transform: rotate(15deg); 
  transform: rotate(15deg); 
  margin: auto;
}

.flame-1 {
  position: absolute;
  width: 7%;
  left: 4.5%;
  top: 67%; 
  margin: auto;
}

.flame-2 {
  position: absolute;
  width: 7%;
  left: 88%;
  top: 67%; 
  margin: auto;
  
}

.acte-2:hover .personnage-1 {
  -webkit-animation: fowardRight 3.4s;
  animation: fowardRight 3.4s;
  -webkit-animation-timing-function: cubic-bezier(.17,.67,.06,.92);
  animation-timing-function: cubic-bezier(.17,.67,.06,.92);
}

.acte-2:hover .epe-1 {
  -webkit-animation: fowardRight-top 3.4s;
  animation: fowardRight-top 3.4s;
  -webkit-animation-timing-function: cubic-bezier(.17,.67,.06,.92);
  animation-timing-function: cubic-bezier(.17,.67,.06,.92);
}

.acte-2:hover .hache-1 {
  -webkit-animation: fowardleft-hache1 3.4s;
  animation: fowardleft-hache1 3.4s;
  -webkit-animation-timing-function: cubic-bezier(.17,.67,.06,.92);
  animation-timing-function: cubic-bezier(.17,.67,.06,.92);
}

@-webkit-keyframes fowardRight {

  0% {
    top: 40%;
  }
  
  50% {
    top: 25%;
  }
  
  100% {
    top: 40%;
  }

  from {left: 17%;}
  to {left: 40%;}
}

@keyframes fowardRight {

  0% {
    top: 40%;
  }
  
  50% {
    top: 25%;
  }
  
  100% {
    top: 40%;
  }

  from {left: 17%;}
  to {left: 40%;}
}

@-webkit-keyframes fowardRight-top {

  0% {
    top: 27%;
  }
  
  50% {
    top: 12%;
  }
  
  100% {
    top: 27%;
  }

  from {left: 17%;}
  to {left: 40%;}  
}

@keyframes fowardRight-top {

  0% {
    top: 27%;
  }
  
  50% {
    top: 12%;
  }
  
  100% {
    top: 27%;
  }

  from {left: 17%;}
  to {left: 40%;}  
}

@-webkit-keyframes fowardleft-hache1 {

  0% {
    -webkit-transform: rotate(0deg);
  }
  
  50% {
    -webkit-transform: rotate(-360deg);
  }
  
  100% {
    -webkit-transform: rotate(0deg);
  }

  from {left: 65.8%;}
  to {left: 45%;}
}

@keyframes fowardleft-hache1 {

  0% {
    transform: rotate(0deg);
  }
  
  50% {
    transform: rotate(-360deg);
  }
  
  100% {
    transform: rotate(0deg);
  }

  from {left: 65.8%;}
  to {left: 45%;}
}

/********** ACTE-3 ************/

.acte-3 {
  position: relative;
}

.vortex-1 {
  position: absolute;
  right: 0;
  left: 0;
  width: 20%;
  top: 28%;
  margin: auto;
}

.personnage-3 {
  position: absolute;
  z-index: 1;
  width: 15%;
  left:65%;
  top: 34%;   
  margin: auto;
}

.flame-3 {
  position: absolute;
  width: 12%;
  left: 17%;
  top: 16%; 
  margin: auto;
}

.flame-4 {
  position: absolute;
  width: 12%;
  left: 73%;
  top: 16%; 
  margin: auto;
}

.baniere span {
  display: block;
  color: red;
  width: 100%;
  font-size: 2vw;
  line-height: 4vw;
}

.acte-3:hover .personnage-3 {
  -webkit-animation: fowardRight-vortex 3.4s;
  animation: fowardRight-vortex 3.4s;
  -webkit-animation-timing-function: cubic-bezier(.17,.67,.06,.92);
  animation-timing-function: cubic-bezier(.17,.67,.06,.92);
}

.acte-2:hover .flame-1, .acte-2:hover .flame-2 {
  -webkit-animation: fireItem1 .3s infinite;
  animation: fireItem1 .3s infinite;
}

.acte-3:hover .flame-3, .acte-3:hover .flame-4 {
  -webkit-animation: fireItem2 .3s infinite;
  animation: fireItem2 .3s infinite;
}

@-webkit-keyframes fowardRight-vortex {
  
  0% {
    -webkit-transform: scale(1);
  }
  
  100% {
    -webkit-transform: scale(0);
    top: 18%;
  } 

  from {left: 65.8%;}
  to {left: 42.3%;}  
}

@keyframes fowardRight-vortex {
  
  0% {
    transform: scale(1);
  }
  
  100% {
    transform: scale(0);
    top: 18%;
  } 

  from {left: 65.8%;}
  to {left: 42.3%;}  
}

@-webkit-keyframes fireItem1 {
  
  0% {
    filter: hue-rotate(0deg) opacity(1) contrast(1);
    width: 7%;
  }
  
  50% {
    filter: hue-rotate(20deg) opacity(0.9) contrast(1.5);
    width: 7.1%;
  }
  
  100% {
    filter: hue-rotate(0deg) opacity(1)contrast(1);
    width: 7%;
  } 
}

@keyframes fireItem1 {
  
  0% {
    filter: hue-rotate(0deg) opacity(1) contrast(1);
    width: 7%;
  }
  
  50% {
    filter: hue-rotate(20deg) opacity(0.9) contrast(1.5);
    width: 7.1%;
  }
  
  100% {
    filter: hue-rotate(0deg) opacity(1)contrast(1);
    width: 7%;
  } 
}

@-webkit-keyframes fireItem2 {
  
  0% {
    filter: hue-rotate(0deg) opacity(1) contrast(1);
    width: 12%;
  }
  
  50% {
    filter: hue-rotate(20deg) opacity(0.9) contrast(1.5);
    width: 12.1%;
  }
  
  100% {
    filter: hue-rotate(0deg) opacity(1) contrast(1);
    width: 12%;
  } 
}

@keyframes fireItem2 {
  
  0% {
    filter: hue-rotate(0deg) opacity(1) contrast(1);
    width: 12%;
  }
  
  50% {
    filter: hue-rotate(20deg) opacity(0.9) contrast(1.5);
    width: 12.1%;
  }
  
  100% {
    filter: hue-rotate(0deg) opacity(1) contrast(1);
    width: 12%;
  } 
}

  /*               Caroussel banière
========================================================*/


.caroussel {
    position: relative;  
}

.caroussel-view {        
    display: flex;
    overflow: hidden;
    padding-top: 15px;
}

.caroussel-slide {
    position: relative;
    flex: 0 0 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: transform 1000ms ease-in-out;
    transition: transform 1000ms ease-in-out;
}

.caroussel::before,
.caroussel::after,
.caroussel-prev,
.caroussel-next {
    position: absolute;
    top: 0;
    margin-top: 22%;
    width: 4.5%;
    height: 12%;  
}

.caroussel::before,
.caroussel-prev {
    left: 0.5rem;
}

.caroussel::after,
.caroussel-next {
    right: 0.5rem;
}

.caroussel::before,
.caroussel::after {
    content: '';
    z-index: 3; 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    pointer-events: none;
    opacity: 0.5;
}

.caroussel::after {
    background-image: url(../img/bouton-caroussel.png);    
}

.caroussel::before {
    background-image: url(../img/bouton-caroussel.png);
    -webkit-transform:scaleX(-1);
    transform:scaleX(-1);
}

.caroussel:hover::after {
    opacity: 1;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

.caroussel:hover::before {
    opacity: 1;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}


  /*                Section champion 
========================================================*/

.left-width {
  width: 60%;
}  

.right-width {
  width: 35%;
}

.tournament:before,
.statistic-warrior:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background: #9dc02e;
  border-bottom: 3px solid #63842d;
}

.tournament {
  display:flex;
  position: relative;
  padding: 60px 50px;
  text-align: center;
  height: 200px;
  background: #1d0808;
}

.tournament-title {
  padding: 20px;
  background-image: linear-gradient(to bottom, #0f1113 0%, #0f1113 39%, #650606 190%);
  margin-bottom: 20px;
}

.tournament-title h3 {
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  margin: 0;
}

.tournament-game {
  width: 33.33%;
  align-self: center;
}

.tournament-game img {
  border-radius: 50%;
}

.tournament-game h3 {
  font-size: 1.5vw;
  color: #ffc107;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 0;
}

.tournament-game .participate-tab {
  border: 0;
  border-radius: 0;
  font-size: 18px;
  font-weight: 700;
  padding: 17px 25px;
}

.tournament-game .participate-tab:hover {
  background: #ffc107;
}

.vs {
  height: 50px;
  width: 50px;
  font-size: 25px;
  line-height: 55px;
  font-weight: 600;
  color: #fff;
  background: #ffc108;
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
}

.champion-result-tab {
  background: #1d0808;
}

.statistic-games {
  padding: 22px 20px;
  text-align: center;
  border-bottom: 1px solid #461111;
}

.statistic-games img { 
  height: 60px;
  width: 60px;
  max-width: 100%;
  border-radius: 50%;
}

.statistic-games .game-time {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.statistic-games .game-time .time {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  color: #fff;
}

.statistic-games .game-time .date {
  color: #fff;
  font-size: 16px;
  margin: 0;
}

.statistic-games span {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin: 0 15px;
    display: inline-block;
}

  /*             Section statistique 
========================================================*/

.statistic-tab {
    width: 100%;
}

.statistic-warrior {
    display:flex;
    position: relative;
    padding: 60px 50px;
    text-align: center;
    height: auto;
    background: #1d0808;
}

.top-tab {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: transform 1000ms ease-in-out;
    transition: transform 1000ms ease-in-out;
    padding: 10% 0%;
}

.top-tab a {
    position: relative;
}

.top-tab a span {
    display: none;
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
}

.top-tab a:hover span {
    display: block;
}

.top-tab span.description {
    z-index: 2;
}

.top-tab span.font-bg {
    width: 222px;
    max-width: 100%;
    height: 222px;
    top: -101px;
    left: 0;
    background: #000;
}

.statistic-tournament-game {
  width: 33.33%;
  align-self: center;
}

.statistic-tournament-game .participate-tab {
  border: 0;
  border-radius: 0;
  font-size: 20px;
  font-weight: 700;
  padding: 5% 27.5%;
}

.statistic-tournament-game .participate-tab:hover {
  background: #ffc107;
}

.statistic-tournament-game img {
  width: 72%;
  
}


  /*             Section page champion 
========================================================*/

.row1 {
    display: flex;
    flex-direction: column;
    padding-top:80px;
}

.initial-buttom {
    margin-bottom: 0px;
}

.left-text {
    text-align: left;
    margin-right: 25px;
}

.left-text h3 {
    color: #737377;
}

.stat-flex {
    display: flex;
}

.fa-star,
.fa-star-half-alt,
.fa-star {
    color: #9dc02e;
}

.flex1 {
    flex-wrap: nowrap;
    background-color: #fff;
    width: 33.33%;
}

.flex2 {
    flex-wrap: nowrap;
    background-color: #d3d4d0;
    width: 33.33%;
    color: #000;
}

.flex1 p {
    color: #000;
}

.color1 {
    background-color: #9dc02e;
    border-bottom: 4px solid #63842d;
    margin-block-start: 0em;
    height: 40px;
    padding-top: 8px;
    font-weight: bold;
}

.color2 {
    background-color: #63842d;
    border-bottom: 4px solid #9dc02e;
    margin-block-start: 0em;
    height: 40px;
    padding-top: 8px;
    font-weight: bold;
}

.color3 {
    margin: 5px;
}

.color4 {
    margin: 6px;
}

  /*========================================================
                           BOUTIQUE styles
=========================================================*/


#carrousel-gallerie {
    display: flex;
    flex-wrap: wrap;   
}

.shop {
    background: #2b0404;
}

.slide {
    padding:20px;
    width: 20.6%;
}

.visual-image {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}

.visual-info {
    display: flex;
    flex-direction: row;
    align-items: baseline; 
    background-color: #1d0808; 
    border-radius: 4px;
}

.visual-buttom {
    padding: 3% 0%;
    font-size: 1.4vw;
    color: #fff;
    background: #ffc107;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
}

.svg-wrapper {
    width: 100%;
    cursor: pointer;
  }
  
  .shape {
    fill: #FFC107;
    border-radius: 4px;
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
    stroke: #9dc02e;
    width: 100%;   
  }
  
  @keyframes draw {
    0% {
        stroke-dasharray: 140 540;
        stroke-dashoffset: -474;
        stroke-width: 8px;
    }
    100% {
        stroke-dasharray: 760;
        stroke-dashoffset: 0;
        stroke-width: 2px;
    }
  }
  
.svg-wrapper:hover .shape {
    fill: transparent;
    -webkit-animation: 0.5s draw linear forwards;
    animation: 0.5s draw linear forwards;
}

.visual-buttom:hover {
    background: #9dc02e;
    z-index: 2000;
}

.visual-buttom {
    font-weight: 500;
}


.witdh38 {
    width: 38%;
    text-align: left;
    font-size: .5vw;
    margin-left: 5px;
    line-height: 11px;
}

.witdh62 {
    width: 62%;
    text-align: right;
    font-size: .7vw;
    margin-right: 5px;
}

/*
       BUTTON FENÊTRE MODAL styles
=========================================================*/
  
form.modal-content button {  
    border-bottom: 4px solid #b0df66;
    background: #384313;
    border: none;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    color: #ffffff;
    display: block;
    font: 15px Georgia, "Times New Roman", Times, serif;
    letter-spacing: 1px;
    padding: 7px 25px;
    text-shadow: 0 1px 1px #000000;
}
  
form.modal-content {
    padding-bottom: 20px;
  }
  
form.modal-content button:hover {
    color: #31353d;
      background: #fff;
      border-bottom-color: #c8c8c8;
    cursor: pointer;
}
  
form.modal-content {
    background: #9cbc2c;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 10px 10px 10px 10px;  
}
   
.modal span {
    color: #000;
}
  
.container-form {
    /* padding: 16px;  */
    margin-top: 30px;
    padding-right: 42px;
    padding-left: 42px;
}
   
.modal {
    display: none; 
    position: fixed; 
    z-index: 2; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 81.5px;
}
  
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 61.5%; 
}
.modal-content {
    color: #000; 
}
  
.close { 
    float: right;
    padding-right: 15px;
    margin-top: 15px;
    font-size: 35px;
    cursor: pointer;
}

.font-size1 {
    font-size: 15px;
}

.font-size2 {
    font-size: 12px;
}
   
/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
  
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
  
@media screen and (max-width: 1050px) {
    .container-form {    
      margin-top: 30px;    
      padding-left: 10%;
      width: 90%;    
    }
    .modal-flex {
      display: flex;
      flex-direction: column; 
    }
    .lign-left {
      border-right: 0;
    }  
}  
  
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
}

.gallery {
    padding: 15px 15px;
    text-align: center;
    height: auto;
}

#caroussel {
    position: relative;
    border: solid 1px #e7dbc5;
    width: 984px;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
    max-width: 100%;
}

.slide-gallery {
    position: absolute;
    width: 984px;
    max-width: 100%;
    /* height: 500px; */ /* À enlever pour ajuster avec l'image */
    top: 0;
    left: 0;
}

.info-text {
    position: absolute;
    padding-left: 12px;
    width: 972px;
    text-align: left;
    line-height: 22px;
    height: 45px;
    bottom: 0;
    left: 0;
    color: #000;
    font-weight: 900;
    background-color: #e6e8eb;
    opacity: .6;
}

.navigation {
    position: absolute;
    bottom: 48px;
    right: 5px;
}

.navigation span {
    background: #000;
    color: #fff;
    padding: 4px 8px;
    margin: 2px;
    border-radius: 25px;
    cursor: pointer;
}

.navigation span:hover, .navigation span.active {
    background: #fff;
    color: #000;
}

/*========================================================
                     BLOG styles
=========================================================*/
.card-flex {
    display: flex;
    flex-wrap: wrap;
}

.card-row {
    width: 33.33%;
    height: auto;
}
.card {
    margin: 10%;
    padding: 4% 6%;
    border: 1px solid#fff;
}

.card h5 {
    font-size: 16px;
}

.card-date {
    color: #9dc02e;
}

.blog-buttom {
    padding: 3%;
    font-size: .8vw;
    color: #fff;
    background: #ffc107;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
}

.blog-buttom:hover {
    background: #9dc02e;    
}

.top-buttom {
    margin-top: 10%;
}

.content-blog  {
    width: 100%;
    text-align: center;
}

.flex-row {
    text-align: center;
}

.end {
    text-align: end;
}

.content-blog td {
    padding-top: 30px;
}

.head-bg {
    background: #353942;
}

.head-bg th {
    padding: 10px 0px;
}

.tbody-border {
    border-bottom: 1px solid #353942;
}

.create-bottom,
.edit-bottom,
.delete-bottom {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.create-bottom {
    background-color: rgb(41, 41, 172);
}

.create-bottom:hover {
    background-color: rgb(4, 33, 66);
}

.edit-bottom {
    background-color: rgb(8, 194, 48);
}

.edit-bottom:hover {
    background-color: rgb(2, 58, 14);
}

.hover-link:hover {
    color: rgb(40, 37, 253);
    text-decoration: underline;
}

.delete-bottom {
    background-color: rgb(255, 0, 0);
}

.delete-bottom:hover {
    background-color: rgb(94, 7, 7);
}
/*========================================================
                    FOOTER styles
=========================================================*/

 .row {
     display: flex;
     justify-content: space-between;
     padding-top:80px;
 } 
 .info {
     display: flex;
     align-items: center;
 }
 .info p {
    padding-left: 25px;
    font-size: 13px;
    color: #3b3f49
 }
 .info h2 {
    margin-top: 30px;
    position: relative;
    color: #ffffff;
    text-align: left;
    overflow: hidden;
  }
  .info h2 a {
    display: block;
    position: relative;
    padding-left: 110px;
    text-transform: capitalize;
    font: 300 30px/50px 'Open Sans', sans-serif;
  }

 .info h2 a .fa {
    position: absolute;
    display: block;
    width: 70px;
    height: 70px;
    top: 8px;
    left: 0;
    font-size: 147px;
    line-height: 94px;
    margin-right: 5px;
    color: #ffffff;
    font: 400 48px/81px 'FontAwesome';
    text-align: center;
    border-radius: 500px;
    -webkit-box-shadow: 0 4px 0 0 #63842d;
    box-shadow: 0 4px 0 0 #63842d;
  }
  .color_green {
    color: #9dc02e;
  }
 .grid ul {
    padding-inline-start: 0;
 }
 .grid li {
    list-style: none;
 }
 .social-list {
    display: flex;
    padding-top: 15px;
 }
 .social-list li {
    margin-left: 13px;
 }
 .social-list li a {
    display: inline-block;
    width: 51px;
    height: 51px;
    color: #ffffff;
    background: #22272b;
    text-align: center;
    font: normal 26px/54px 'FontAwesome';
    border-radius: 26px;
 }
 .fa-facebook-f::before {
    font-family: "Font Awesome 5 Brands";
    font-weight: 900;
    /* content: "\f39a"; */
 }
 .fa-twitter::before {
    font-family: "Font Awesome 5 Brands";
    font-weight: 900;
    /* content: "\f099"; */
 }
 .fa-google-plus-g::before {
    font-family: "Font Awesome 5 Brands";
    font-weight: 900;
    /* content: "\f2b3"; */
 }
 .fa-rss::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    /* content: "\f09e"; */
 }

/*========================================================
                RESPONSIVE styles
=========================================================*/

/*                        Menu
=========================================================*/

@media only screen and (max-width: 767px) {

    nav {
        padding-bottom: 30px;
        padding-top: 30px;
        }
    .menu {
        display: none;
        }

    .select-menu {
        display: block !important;
        height: 47px;
        border: none;
        background: #202227;
        color: #6d6a69;
        /* -webkit-appearance: none; */
        outline: none;
        -webkit-box-sizing: border-box; 
        -moz-box-sizing: border-box;
        box-sizing: border-box; 
        font-weight: bold;
    }
}


@media screen and (max-width: 990px) {

/*              Page champion
=========================================================*/
    
    .left-width {
        width: 100%;
    }

    .right-width {
        width: 100%;
    }

    .tournament-title h3 {
        text-align: center;
    }

/*              Page statistique
=========================================================*/

    .statistic-tournament-game {
        width: 100%;
    }

    .statistic-warrior {
        display: flex;
        flex-direction: column;
    }

    .statistic-tournament-game img {
        width: 32%;
    }

    .top-tab {
        padding: 5% 0%;
    }

    .statistic-tournament-game .participate-tab {
        font-size: 2vw;
        padding: 3% 12.5%;
    }

/*           Page formulaire incription
=========================================================*/    
    .user-flex {
        display: flex; 
        flex-direction: column;
    }
    
    .user-content {
        width: 100%;
        padding: 1%;
    }

/*                Page blog panel
=========================================================*/ 
    
    .flex-row {
        display:flex;
        flex-direction: column;
        align-items: center;
        background-image: linear-gradient(to bottom, #0f1113 0%, #0f1113 1%, #650606 190%);
        margin-top: 20px;
    }

    .head-bg {
        display: none;
    }

    .content-blog td {
        padding-top: 20px;
    }

    .end {
        padding-bottom: 20px;
    }
}



@media screen and (max-width: 800px) {

/*                   Footer
=========================================================*/
    
    .row {
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
    }

    .card-row {
        width: 50%;
    }
}

@media screen and (max-width: 690px) {

/*                   Header
=========================================================*/

    .card-row {
        width: 100%;
    }

    .wrap_1 {
        display: flex; 
        flex-direction: column;
    }

    .logo {
        align-self: center;
        margin: 19px;
    }

    .user-link-flex {
        align-self: center;
    }

    .user-link {
        align-self: center;
        padding-inline-start: 0px;
    }

/*                       Footer
=========================================================*/ 

    .info h2 {
        display: none;
    }

    .info p {
        padding-left: 0px;
        padding-bottom: 20px;
    }
    
}






